.header{
  text-align:center;
  font-size: 50px;
  text-shadow: 2px 2px 8px rgba(51, 10, 128, 0.829);
  /* text-shadow: 2px 2px 8px rgba(229, 226, 235, 0.829); */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
 }
 
 .button{
  font-size: 20px;
  text-align: center;
  /* background-color: navy; */
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  color: navy;
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
 }

 .buttonDiv{
  position: sticky;
  z-index: 10;
  text-align: center;
  top: 0px;
 }

 .section{
  position: relative;
  text-align: center;
  padding-top: 1rem;
  padding-left: 1rem;
  cursor: pointer;
 }
 

 .shop_name{
  position: absolute;
  color: white;
  text-shadow: 2px 2px 8px rgba(89, 0, 255, 0.685);
  text-align: left;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  left: 30px;
 }

 .shop_name:hover{
  color: rgb(177, 65, 65);
  /* color: rgba(163, 24, 168, 0.637); */
  /* text-shadow: 2px 2px 8px rgb(31, 4, 39); */
 }
 
 .image{
  /* width: 20%; */
 width: 20rem;
 height: 15rem;
 object-fit: cover;
 border-radius: 0.5rem;
}

 

 .shop_tag{
  position: absolute;
  top: 140px;
  left: 30px;
  color: white;
  text-shadow: 2px 2px 8px rgba(89, 0, 255, 0.685);
  text-align: left;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
 }

 .content{
   align-items: center;
   display: flex;
   flex-flow: row;
   flex-wrap: wrap;
   padding:5px;
   overflow-x: auto;
   justify-content: center;
 }

 body{
  margin-bottom: 50px;
  margin-top: 20px;
  background-color: lavender;
 }