.header{
  text-align:center;
  font-size: 3.7rem;
  text-shadow: 0.125rem 0.125rem 0.5rem rgb(100, 13, 158);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
 }
 
 .button{
  font-size: 1.2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(107, 7, 138);
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
 }

 .buttonDiv{
  position: sticky;
  z-index: 10;
  text-align: center;
  top: 0rem;
 }

 .section{
  position: relative;
  text-align: center;
  padding-top: 1rem;
  padding-left: 1rem;
 }
 
 .textInSection{
  position: absolute;
  color: white;
  text-shadow: 0.125rem 0.125rem 0.5rem rgba(89, 0, 255, 0.685);
  text-align: left;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
  left: 1.875rem;
 }

 .textInSection:hover{
  color: rgb(177, 65, 65);
 }

 .shop_tag{
  top: 8.75rem;
 }
 
 .image{
 width: 20rem;
 height: 15rem;
 object-fit: cover;
 border-radius: 0.5rem;
}

 .content{
   align-items: center;
   display: flex;
   flex-flow: row;
   flex-wrap: wrap;
   padding:0.3125rem;
   overflow-x: auto;
   justify-content: center;
 }

 body{
  margin-bottom: 3.125rem;
  margin-top: 1.25rem;
  background-color: lavender;
 }