 .section{
  position: relative;
  text-align: center;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  margin: auto;
  background-color: cornflowerblue;
 }

 .shop_name{
  position: absolute;
  color: white;
  text-align: center;
  font-size: 2vw;
  font-family: 'Comic Sans MS';
  left: 20px;
  
 }

 .image{
  width: 20rem;
  /* height: 13rem; */
 }

 .button{
  font-size: 1.5vw;
  text-align: center;
  font-family: 'Comic Sans MS';
  width: 20rem;
 }

 .buttonDiv{
  position: sticky;
  z-index: 10;
  text-align: center;
  top: 0px;
 }
/* 
 div{
   margin: auto;
 } */

 /* .app{
   margin: 2rem;
 } */

 .content{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   align-items: center;
   display: flex;
   flex-flow: row;
   flex-wrap: wrap;
   padding:5px;
   overflow-x: auto;
   
   /* -webkit-overflow-scrolling: touch; */
   /* margin: auto; */

 }